In [2]:
import pandas as pd
from sqlalchemy import create_engine

#### Establishes connection to Postgres
#POSTGRES_ADDRESS = '___the name of your VM - ex lin2dv2nba68_____'
POSTGRES_ADDRESS = 'lin2dv2nba75'
POSTGRES_PORT = 1550
POSTGRES_USERNAME = 'postgres'
POSTGRES_PASSWORD = 'postgres'
POSTGRES_DBNAME = 'postgres'
postgres_str = 'postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'.format(username=POSTGRES_USERNAME, password= POSTGRES_PASSWORD, ipaddress=POSTGRES_ADDRESS, port=POSTGRES_PORT, dbname=POSTGRES_DBNAME)
connection = create_engine(postgres_str)


df=pd.read_sql('''SELECT * FROM nast_usa_geo''',connection)

df['NAST Rep']=df['Rep_NAST'].str[:8]
df['Info']=df['NAST Rep']+' - '+df['Territory Code']

#Drop Down Creation
drop_options_df=df[['Territory Code','Info']].copy()

drop_options_df=drop_options_df.drop_duplicates()
drop_options_df=drop_options_df.sort_values(by='Territory Code')


drop_options_df['label']=drop_options_df['Info']
drop_options_df['value']=drop_options_df['Territory Code']

drop_options_df=drop_options_df[['label','value']]

drop_options=drop_options_df.to_dict('records')

In [3]:
from email.mime.multipart import MIMEMultipart
from email.mime.application import MIMEApplication
from email.mime.text import MIMEText
import smtplib
def email_send(address):
    msg=MIMEMultipart()
    body_part=MIMEText(
    'Hello,\
    \n\
    \nEmail Function.\
    \nhttp://lin2dv2nba75:3519/\
    \n\
    \nBest,\
    \nJames Staats\
    \nBusiness & Data Analyst\
    \nO:952.683.3149 | M:952.297.7889', 'plain')
    msg['Subject']='Dash Notification Email'
    msg['From']='James.Staats@chrobinson.com'
    #msg['To']='<James.Staats@chrobinson.com>'
    msg['To']='<'+address+'>'
    msg.attach(body_part)
    smtp_obj=smtplib.SMTP('mail.chrobinson.com',25)
    smtp_obj.sendmail(msg['From'],msg['To'],msg.as_string())
    smtp_obj.quit()
    return

email_send('james.staats@chrobinson.com')

In [15]:
from datetime import datetime as dt
x = dt.now()
y=(' {}'.format(x))
z=pd.DataFrame({'Message':'Hello, the app is running and the time is:' + y},index=['1'])

                                   Message
1  Hello it is: 2022-03-09 16:20:21.174006

In [11]:
y=('Your interval job says hello at {}'.format(x))

In [12]:
y

'Your interval job says hello at 2022-03-09 16:18:11.318877'

In [17]:
message='Use filters above to view specific alignments'
messdf=pd.DataFrame(columns=[message])
mess_columns=[{"name":i,"id":i} for i in messdf.columns]
mess_columns

[{'name': 'Use filters above to view specific alignments',
  'id': 'Use filters above to view specific alignments'}]

In [14]:
df=pd.read_sql('''SELECT * FROM nast_usa_geo''',connection)

df['NAST_Rep']=df['Rep_NAST'].str[:8]
df.loc[df.NAST_Rep.str.lower().str.find('empty')>=0,'fullname']='Empty Territory'
df['Info']=df['fullname']+' - '+df['Territory Code']

df[['Latitude', 'Longitude','Zip','Info']]=df[['Latitude', 'Longitude','Zip','Info']].replace(np.NaN,'Nothing')
df.loc[(df['Info']!='Nothing')&(df['Zip']!='Nothing')&(df['Latitude']!='Nothing')&(df['Longitude']!='Nothing')]

df[['Latitude', 'Longitude']]=df[['Latitude', 'Longitude']].astype('float')

df_simple=df[['Latitude','Longitude','Zip']]
df_simple['Info']='USA Zip Code'
df_simple=df_simple.drop_duplicates()

zipcode=''
territory=''
size=''
district=''
region=''
if (len(zipcode)==5)|(len(territory)>0)|(len(size)>0)|(len(district)>0)|(len(region)>0):
    df=df.loc[df['Zip']==zipcode]
    df=df.loc[df['Territory Code']==territory]
    df=df.loc[df['SizeSegment']==size]
    df=df.loc[df['District Code']==district]
    df=df.loc[df['Region Code']==region]
df=df[['Latitude','Longitude','Zip','Info']]
#Figure
figure=px.scatter_mapbox(df,zoom=2,lat='Latitude',lon='Longitude',color_continuous_scale=px.colors.cyclical.IceFire,color='Info',hover_name='Zip',hover_data=['Info'],mapbox_style='carto-positron')
figure=figure.update_layout(title=plottitle)

/tmp/ipykernel_16012/308322129.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
df

         Latitude   Longitude    Zip                         Info
0       40.810001  -73.042198  00501      Aaron Grossman - LT132N
1       40.810001  -73.042000  00544      Aaron Grossman - LT132N
2       18.174736  -66.745196  00601  Brian Nicolopoulos - LT120N
3       18.361172  -67.174197  00602  Brian Nicolopoulos - LT120N
4       18.453698  -67.130323  00603  Brian Nicolopoulos - LT120N
...           ...         ...    ...                          ...
123193  55.131148 -131.462779  99926       Matthew Field - ST313N
123194  56.235500 -133.343994  99927       Matthew Field - ST313N
123195  55.260855 -131.783904  99928       Matthew Field - ST313N
123196  56.410501 -131.854691  99929       Matthew Field - ST313N
123197  55.791417 -132.901322  99950       Matthew Field - ST313N

[123198 rows x 4 columns]

In [8]:
df_simple

        Latitude   Longitude    Zip          Info
0      40.810001  -73.042198  00501  USA Zip Code
1      40.810001  -73.042000  00544  USA Zip Code
2      18.174736  -66.745196  00601  USA Zip Code
3      18.361172  -67.174197  00602  USA Zip Code
4      18.453698  -67.130323  00603  USA Zip Code
...          ...         ...    ...           ...
41097  55.131148 -131.462779  99926  USA Zip Code
41098  56.235500 -133.343994  99927  USA Zip Code
41099  55.260855 -131.783904  99928  USA Zip Code
41100  56.410501 -131.854691  99929  USA Zip Code
41101  55.791417 -132.901322  99950  USA Zip Code

[41066 rows x 4 columns]

In [1]:
import dash  # Primary dash app framework
import dash_core_components as dcc     # Dash core page elements
import dash_html_components as html    # Dash HTML page elements
import dash_bootstrap_components as dbc   # Dash bootstrap elements - same as dcc but looks better
import dash_table    # Interactive data table
from dash.dependencies import Input, Output, State    # Used for callbacks
from flask import send_file, request, Response    # Used to download files to your user's computer
from dash.exceptions import PreventUpdate      # Used to stop callbacks from firing
import pandas as pd    # Pandas!
import numpy as np
import plotly.express as px


'''

CORE APP SETUP BELOW - YOU CAN MODIFY BUT DO NOT DELETE

'''
 
#Change the theme to another bootstrap theme if you'd like
#More themes can be found here https://bootswatch.com/
app = dash.Dash(__name__,external_stylesheets=[dbc.themes.LUX])

# Title your app here
app.title = "Territory Geography View"

# Leave dev tools on - this will let you know if something is wrong on the page
# If you are using scheduled jobs, change debug to False both here and at the end of the page
# Otherwise your scheduled jobs will run twice every time
app.enable_dev_tools(debug=True, dev_tools_hot_reload=False)



import pandas as pd
from sqlalchemy import create_engine

#### Establishes connection to Postgres
#POSTGRES_ADDRESS = '___the name of your VM - ex lin2dv2nba68_____'
POSTGRES_ADDRESS = 'lin2dv2nba75'
POSTGRES_PORT = 1550
POSTGRES_USERNAME = 'postgres'
POSTGRES_PASSWORD = 'postgres'
POSTGRES_DBNAME = 'postgres'
postgres_str = 'postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'.format(username=POSTGRES_USERNAME, password= POSTGRES_PASSWORD, ipaddress=POSTGRES_ADDRESS, port=POSTGRES_PORT, dbname=POSTGRES_DBNAME)
connection = create_engine(postgres_str)


df=pd.read_sql('''SELECT * FROM nast_usa_geo''',connection)

df['NAST_Rep']=df['Rep_NAST'].str[:8]
df.loc[df.NAST_Rep.str.lower().str.find('empty')>=0,'fullname']='Empty Territory'
df['Info']=df['fullname']+' - '+df['Territory Code']

#Drop Down Creation
drop_options_df=df[['Territory Code','Info']].copy()

drop_options_df=drop_options_df.drop_duplicates()
drop_options_df=drop_options_df.sort_values(by='Territory Code')


drop_options_df['label']=drop_options_df['Info']
drop_options_df['value']=drop_options_df['Territory Code']

drop_options_df=drop_options_df[['label','value']]

drop_options_df['label']=drop_options_df['label'].replace(np.NaN,'Nothing')
drop_options_df['value']=drop_options_df['value'].replace(np.NaN,'Nothing')
drop_options_df.loc[drop_options_df['label']!='Nothing']
drop_options_df.loc[drop_options_df['value']!='Nothing']

drop_options=drop_options_df.to_dict('records')

#Dropdown Figure
dropdown=dcc.Dropdown(id='SelectTerr',
                      options=drop_options,
                      multi=False,
                      #value='VT107N',
                      style={'width':"50%"})



#Drop Down Creation 2
drop_options_df=df[['SizeSegment']].copy()

drop_options_df=drop_options_df.drop_duplicates()
drop_options_df=drop_options_df.sort_values(by='SizeSegment')


drop_options_df['label']=drop_options_df['SizeSegment']
drop_options_df['value']=drop_options_df['SizeSegment']

drop_options_df=drop_options_df[['label','value']]

drop_options_df['label']=drop_options_df['label'].replace(np.NaN,'Nothing')
drop_options_df['value']=drop_options_df['value'].replace(np.NaN,'Nothing')
drop_options_df.loc[drop_options_df['label']!='Nothing']
drop_options_df.loc[drop_options_df['value']!='Nothing']

drop_options=drop_options_df.to_dict('records')

#Dropdown Figure 2
dropdown_2=dcc.Dropdown(id='Size',
                      options=drop_options,
                      multi=False,
                      #value='VT107N',
                      style={'width':"50%"})


#Drop Down Creation 3
drop_options_df=df[['District Code']].copy()

drop_options_df=drop_options_df.drop_duplicates()
drop_options_df=drop_options_df.sort_values(by='District Code')


drop_options_df['label']=drop_options_df['District Code']
drop_options_df['value']=drop_options_df['District Code']

drop_options_df=drop_options_df[['label','value']]

drop_options_df['label']=drop_options_df['label'].replace(np.NaN,'Nothing')
drop_options_df['value']=drop_options_df['value'].replace(np.NaN,'Nothing')
drop_options_df.loc[drop_options_df['label']!='Nothing']
drop_options_df.loc[drop_options_df['value']!='Nothing']

drop_options=drop_options_df.to_dict('records')

#Dropdown Figure 3
dropdown_3=dcc.Dropdown(id='District',
                      options=drop_options,
                      multi=False,
                      #value='VT107N',
                      style={'width':"50%"})

#Drop Down Creation 4
drop_options_df=df[['Region Code']].copy()

drop_options_df=drop_options_df.drop_duplicates()
drop_options_df=drop_options_df.sort_values(by='Region Code')


drop_options_df['label']=drop_options_df['Region Code']
drop_options_df['value']=drop_options_df['Region Code']

drop_options_df=drop_options_df[['label','value']]

drop_options_df['label']=drop_options_df['label'].replace(np.NaN,'Nothing')
drop_options_df['value']=drop_options_df['value'].replace(np.NaN,'Nothing')
drop_options_df.loc[drop_options_df['label']!='Nothing']
drop_options_df.loc[drop_options_df['value']!='Nothing']

drop_options=drop_options_df.to_dict('records')

#Dropdown Figure 4
dropdown_4=dcc.Dropdown(id='Region',
                      options=drop_options,
                      multi=False,
                      #value='VT107N',
                      style={'width':"50%"})



#Message Table
message='No Territory Selected'
messdf=pd.DataFrame(columns=[message])

dash_messagetable=dash_table.DataTable(id='dash_messtable',
data=messdf.to_dict('records'),
columns=[{"name":i,"id":i} for i in messdf.columns],
style_cell={'textAlign':'center','font_size':'16px'},
style_header={'textAlign':'center','color':'white','background-color':'rgb(30, 30, 30)','border':'1px solid black'})

df[['Latitude', 'Longitude']]=df[['Latitude', 'Longitude']].replace(np.NaN,'Nothing')
df.loc[(df['Latitude']!='Nothing')&(df['Longitude']!='Nothing')]

df[['Latitude', 'Longitude']]=df[['Latitude', 'Longitude']].astype('float')

df_simple=df[['Latitude','Longitude','Zip']]
df_simple['Info']='USA Zip Code'
df_simple=df_simple.drop_duplicates()

#Scatterplot Figure
plottitle='USA Zip Code Alignment'
fig=px.scatter_mapbox(df_simple,zoom=3,lat='Latitude',lon='Longitude',color_continuous_scale=px.colors.cyclical.IceFire,color='Info',hover_name='Zip',hover_data=['Info'],mapbox_style='carto-positron')
fig=fig.update_layout(title=plottitle)

/tmp/ipykernel_16012/3236404289.py:2: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc     # Dash core page elements
/tmp/ipykernel_16012/3236404289.py:3: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html    # Dash HTML page elements
/tmp/ipykernel_16012/3236404289.py:5: UserWarning:
The dash_table package is deprecated. Please replace
`import dash_table` with `from dash import dash_table`

Also, if you're using any of the table format helpers (e.g. Group), replace
`from dash_table.Format import Group` with
`from dash.dash_table.Format import Group`
  import dash_table    # Interactive data table
/tmp/ipykernel_16012/3236404289.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_simple['Info']='USA Zip Code'

In [28]:
df.columns

Index(['Zip', 'Territory Code', 'Rep_NAST', 'Territory EMPLID',
       'District Code', 'Region Code', 'SizeSegment', 'Latitude', 'Longitude',
       'fullname', 'NAST_Rep', 'Info'],
      dtype='object')

In [2]:
import dash  # Primary dash app framework
import dash_core_components as dcc     # Dash core page elements
import dash_html_components as html    # Dash HTML page elements
import dash_bootstrap_components as dbc   # Dash bootstrap elements - same as dcc but looks better
import dash_table    # Interactive data table
from dash.dependencies import Input, Output, State    # Used for callbacks
from flask import send_file, request, Response    # Used to download files to your user's computer
from dash.exceptions import PreventUpdate      # Used to stop callbacks from firing
import pandas as pd    # Pandas!
import numpy as np

/tmp/ipykernel_22491/1391229466.py:2: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc     # Dash core page elements
/tmp/ipykernel_22491/1391229466.py:3: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html    # Dash HTML page elements
/tmp/ipykernel_22491/1391229466.py:5: UserWarning:
The dash_table package is deprecated. Please replace
`import dash_table` with `from dash import dash_table`

Also, if you're using any of the table format helpers (e.g. Group), replace
`from dash_table.Format import Group` with
`from dash.dash_table.Format import Group`
  import dash_table    # Interactive data table

In [4]:
app = dash.Dash(__name__,external_stylesheets=[dbc.themes.LUX])

# Title your app here
app.title = "Territory Geography View"

# Leave dev tools on - this will let you know if something is wrong on the page
# If you are using scheduled jobs, change debug to False both here and at the end of the page
# Otherwise your scheduled jobs will run twice every time
app.enable_dev_tools(debug=True, dev_tools_hot_reload=False)

True

In [6]:
import pandas as pd
from sqlalchemy import create_engine

#### Establishes connection to Postgres
#POSTGRES_ADDRESS = '___the name of your VM - ex lin2dv2nba68_____'
POSTGRES_ADDRESS = 'lin2dv2nba75'
POSTGRES_PORT = 1550
POSTGRES_USERNAME = 'postgres'
POSTGRES_PASSWORD = 'postgres'
POSTGRES_DBNAME = 'postgres'
postgres_str = 'postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'.format(username=POSTGRES_USERNAME, password= POSTGRES_PASSWORD, ipaddress=POSTGRES_ADDRESS, port=POSTGRES_PORT, dbname=POSTGRES_DBNAME)
connection = create_engine(postgres_str)


df=pd.read_sql('''SELECT * FROM nast_usa_geo''',connection)

df['NAST Rep']=df['Rep_NAST'].str[:8]
df['Info']=df['NAST Rep']+' - '+df['Territory Code']

#Drop Down Creation
drop_options_df=df[['Territory Code','Info']].copy()

drop_options_df=drop_options_df.drop_duplicates()
drop_options_df=drop_options_df.sort_values(by='Territory Code')


drop_options_df['label']=drop_options_df['Info']
drop_options_df['value']=drop_options_df['Territory Code']

drop_options_df=drop_options_df[['label','value']]

drop_options=drop_options_df.to_dict('records')

#Dropdown Figure
dropdown=dcc.Dropdown(id='SelectTerr',
                      options=drop_options,
                      multi=False,
                      #value='VT107N',
                      style={'width':"50%"})




#Message Table
message='No Territory Selected'
messdf=pd.DataFrame(columns=[message])

dash_messagetable=dash_table.DataTable(id='dash_messtable',
data=messdf.to_dict('records'),
columns=[{"name":i,"id":i} for i in messdf.columns],
style_cell={'textAlign':'center','font_size':'16px'},
style_header={'textAlign':'center','color':'white','background-color':'rgb(30, 30, 30)','border':'1px solid black'})

In [22]:
df=pd.read_sql('''SELECT * FROM nast_usa_geo''',connection)

df['NAST_Rep']=df['Rep_NAST'].str[:8]
df.loc[df.NAST_Rep.str.lower().str.find('empty')>=0,'fullname']='Empty Territory'
df['Info']=df['fullname']+' - '+df['Territory Code']

#Drop Down Creation
drop_options_df=df[['Territory Code','Info']].copy()

drop_options_df=drop_options_df.drop_duplicates()
drop_options_df=drop_options_df.sort_values(by='Territory Code')


drop_options_df['label']=drop_options_df['Info']
drop_options_df['value']=drop_options_df['Territory Code']

drop_options_df=drop_options_df[['label','value']]

drop_options_df['label']=drop_options_df['label'].replace(np.NaN,'Nothing')
drop_options_df['value']=drop_options_df['value'].replace(np.NaN,'Nothing')
drop_options_df.loc[drop_options_df['label']!='Nothing']
drop_options_df.loc[drop_options_df['value']!='Nothing']

drop_options=drop_options_df.to_dict('records')

#Dropdown Figure
dropdown=dcc.Dropdown(id='SelectTerr',
                      options=drop_options,
                      multi=False,
                      #value='VT107N',
                      style={'width':"50%"})



#Drop Down Creation 2
drop_options_df=df[['SizeSegment']].copy()

drop_options_df=drop_options_df.drop_duplicates()
drop_options_df=drop_options_df.sort_values(by='SizeSegment')


drop_options_df['label']=drop_options_df['SizeSegment']
drop_options_df['value']=drop_options_df['SizeSegment']

drop_options_df=drop_options_df[['label','value']]

drop_options_df['label']=drop_options_df['label'].replace(np.NaN,'Nothing')
drop_options_df['value']=drop_options_df['value'].replace(np.NaN,'Nothing')
drop_options_df.loc[drop_options_df['label']!='Nothing']
drop_options_df.loc[drop_options_df['value']!='Nothing']

drop_options=drop_options_df.to_dict('records')

#Dropdown Figure 2
dropdown_2=dcc.Dropdown(id='Size',
                      options=drop_options,
                      multi=False,
                      #value='VT107N',
                      style={'width':"50%"})




#Message Table
message='No Territory Selected'
messdf=pd.DataFrame(columns=[message])

dash_messagetable=dash_table.DataTable(id='dash_messtable',
data=messdf.to_dict('records'),
columns=[{"name":i,"id":i} for i in messdf.columns],
style_cell={'textAlign':'center','font_size':'16px'},
style_header={'textAlign':'center','color':'white','background-color':'rgb(30, 30, 30)','border':'1px solid black'})

In [7]:
app.layout = html.Div([
    # Navigation bar is stored here
    dbc.Navbar([
        dbc.NavItem(dbc.NavbarBrand(app.title
            ,className="ml-2"
            ,style={'color':'white'}))],color='primary'),
            html.Br(),
            html.Div(children=[
            html.Div(children=[html.H5('Please Select your Territory:'),dropdown],style={'textAlign':'left','color':'black','padding':'5px','margin':'50px 50px 50px 50px'})#,className='six columns'
            ]),
            html.Div(className='row',children=[
                html.H1('Text1'),
                html.Div(children=[html.H1('Text2'),html.H1('Text3')])
            ])
            ])